body {
	font-family: gill sans;
	font-size: 20px;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 50px;
}

.line {
	stroke-width: 3px;
	stroke: darkgray;
}

.square {
	border: 5px solid lightgray;
}

.highlighted {
	border: 5px solid black;
	stroke: black;
}

.xWon {
	background-color: rgba(169, 169, 170, 0.3);
}

.oWon {
	background-color: rgba(2, 45, 15, 0.3);
}

.screen {
	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 0;
	top: 0;
}

.colorpicker {
	width: 130px;
	height: 130px;
	border: none;
	margin-bottom: 10px;
}

.controls {
	padding: 20px;
}

#user-controls {
	width: 40%;
	height: 100%;
	text-align: center;
}

#board-size {
	font-size: 20px;
}

#reset-game {
	font-size: 30px;
	margin: 20px;
}

#win-text {
	position: absolute;
	font-size: 100px;
}